# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
.git
.gitignore
.github
.vscode
cypress
docs
research
scripts
src
static
typings
.eslintcache
.eslintrc.json
.pnp.js
.prettierignore
.prettierrc.json
.stylelintrc.json
app.yaml
cypress.json
LICENSE
package-lock.json
README.md
rollup.config.js
svelte.config.js
tsconfig.json