@use '../styles/colour';
@use '../styles/layout';

.breakoutWrapper {
  margin: auto -2rem -2rem;

  @include layout.js-enabled {
    margin: auto;
    opacity: .25;
    background-image: linear-gradient(0deg, colour.$brand-black, transparent);
  }
}
