@import "../resources/config.json";

$brandColours: map-get($ui, colors);

@function brandColor($key) {
  @return #{'#' + map-get($brandColours, $key)}
}

$brand-black: brandColor(brandBlack); //#473839;
$brand-white: brandColor(brandWhite); //#ECE0D0;
$brand-yellow: brandColor(brandYellow); //#E8BF87;
$brand-pink: brandColor(brandPink); //#E06D72;
$brand-pink-dark: brandColor(brandPinkDark); //#943A3E;
$brand-blue: brandColor(brandBlue); //#58AFE0;
$brand-blue-dark: brandColor(brandBlueDark); //#417694;
