@import "../resources/config.json";

$brandColours: map-get($ui, colors);

@function brandColor($key) {
  @return map-get($brandColours, $key)
}

$brand-black: brandColor(brandBlack);
$brand-white: brandColor(brandWhite);
$brand-yellow: brandColor(brandYellow);
$brand-pink: brandColor(brandPink);
$brand-pink-dark: brandColor(brandPinkDark);
$brand-blue: brandColor(brandBlue);
$brand-blue-dark: brandColor(brandBlueDark);
