@use '~destyle.css/destyle';
@import 'colour';
@use 'fonts';
@use 'layout';

/*
* Begin global styles
*/

html {
  font-size: 10px;
}

body {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family:
    Farsan,
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.5;
  color: $brand-black;
  background-color: $brand-pink-dark;

  &:after {
    content: '';
    background-image: url("/assets/images/game/steakeye-roundel.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50vw;
    background-position-x: 50vw;
    height: 100vw;
    width: 100vw;
    margin-bottom: 2rem;
    position: absolute;
    bottom: 0;
    z-index: -1;
    opacity: .62;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}
