@use '~destyle.css/destyle';
@use 'colour';
@use 'fonts';
@use 'layout';
@use 'elements';

/*
* Begin global styles
*/

html {
  font-size: 10px;
}

body {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family:
    Farsan,
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.5;
  color: colour.$brand-white;
  background-color: colour.$brand-pink-dark;

  &:after {
    content: '';
    background-image: url("/assets/images/game/steakeye-roundel.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50vw;
    background-position-x: 50vw;
    height: 100vw;
    width: 100vw;
    margin-bottom: 2rem;
    position: absolute;
    bottom: 0;
    z-index: -1;
    opacity: .62;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 500;
  font-family: Pacifico;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
  text-decoration: underline;
}

:focus {
  @include elements.extendHasFocus;
}

[aria-disabled],[disabled] {
  cursor: not-allowed!important;
  pointer-events: none!important
}

[tabindex="-1"]:focus {
  outline: none
}

noscript {
  padding: 1rem;
  display: inline-block;
}

code,
pre {
  font-family: 'Space Mono', menlo, inconsolata, monospace;
}
