/*
Fonts:
font-family: 'Arvo', serif;
font-family: 'BioRhyme', serif;
font-family: 'Bungee', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Copse', serif;
font-family: 'Farsan', sans-serif; //cursive;
font-family: 'Pacifico', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Space Mono', monospace;
*/

/*Icons*/
