<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!--meta name="theme-color" content="#333333" /-->

    %sapper.base%

    <link rel="stylesheet" href="assets/css/base.css" />
    <link rel="stylesheet" href="assets/css/steakeye.css" />
    <!-- if there's any problem with links, look at cross origin credentials: https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/crossorigin#Example_Webmanifest_with_credentials -->
    ${faviconLinks}

    %sapper.scripts%

    %sapper.styles%

    %sapper.head%
  </head>
  <body>
    <div id="sapper">%sapper.html%</div>
  </body>
</html>
